<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scoopshot.scooptoy"
>

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <!--
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
    />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    -->
    <permission android:name="com.scoopshot.sdk.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.scoopshot.sdk.permission.C2D_MESSAGE" />

    <!--android:protectionLevel="signature"-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
    >
        <service android:name="com.scoopshot.sdk.gcm.C2DMReceiver" />
        <service android:name="com.scoopshot.sdk.legacy.UploadService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.scoopshot.sdk.activity.ScoopshotCameraActivity"
            android:screenOrientation="portrait"
        />
        <activity
            android:name="com.scoopshot.sdk.sendflow.SendFlowActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
        />
        <activity
            android:name="com.scoopshot.sdk.modelrelease.ModelReleaseActivity"
            android:screenOrientation="portrait"
        />

        <!-- Receiver to handle C2DM messages. -->
        <receiver
            android:name="com.scoopshot.sdk.gcm.C2DMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
        >

            <!-- Receive our push messages -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.scoopshot.scooptoy" />
            </intent-filter>

            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.scoopshot.scooptoy" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.scoopshot.sdk.UploadQueue" />
        <!-- Receive the local notification create event from device alarm manager -->
        <receiver android:name="com.scoopshot.sdk.receiver.LocalNotificationBroadcastReceiver" />
    </application>

</manifest>
